.create-toggle {
  margin-left: -16px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tweet-btn {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.more {
  height: 20px;
  width: 20px;
}
.extra {
  cursor: pointer;
}
